[Unit]
Description=A test sevice to validate systemd
After=network.target

[Service]
ExecStart=python3 -m http.server --directory /home/dcharles/test
Restart=on-failure

[Install]
WantedBy=default.target