[Unit]
Description=Download new YouTube media via yt-dlp
After=network-online.target mnt-files.mount docker.service
Requires=mnt-files.mount docker.service

[Service]
Type=oneshot
ExecStart=/bin/bash $DROID_HOME/services/youtube-dl/start.sh

[Install]
WantedBy=multi-user.target