[Unit]
Description=A service that runs Pi-hole
After=network.target mnt-files.mount docker.service
Requires=mnt-files.mount docker.service

[Service]
ExecStart=/bin/bash -c 'docker compose --file $DROID_HOME/services/pihole/docker-compose.yml \
                            --project-name pihole_v6 up \
                            --exit-code-from pihole'
ExecStop=/bin/bash -c 'docker compose --file $DROID_HOME/services/pihole/docker-compose.yml \
                             --project-name pihole_v6 stop'
Restart=on-failure

[Install]
WantedBy=default.target
